---
import 'bootstrap/dist/css/bootstrap.min.css';
---

<html lang="en">
	<div class="container col-sm-6 shadow my-5 p-5">
    <h1>Hello World! dari Kelompok 8 Kizuna Catering</h1>
    <div class="row">
      <div class="col-lg-3">
        <div class="card" >
          <img src='/ahmad.jpg'/>
          <div class="card-body">
            <p class="card-text">Ahmad Hawari</p>
            <p class="card-text">21.11.4296</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" >
          <img src="/faizal.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">Faizal Ramadhandi P E</p>
            <p class="card-text">21.11.4317</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" >
          <img src="/hardy.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">Hardy Wisnu Ramanto</p>
            <p class="card-text">21.11.4300</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" >
          <img src="/ilham.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">Ilham Ibnu Pranata</p>
            <p class="card-text">21.11.4289</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</html>

<style>

</style>
