---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Heroes from "../components/Heroes.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kizuna Catering</title>
  </head>
  <body>
    <Navbar />
  </body>
</html>

<style>
  body{
    background-color: darkblue;
  }
</style>
