<div class="p-12 lg:ml-[100px]" id="contact">
  <h4 class="text-5xl text-[#FF9D02]">Contact Us</h4>
</div>
<div class="grid gap-0 lg:grid-cols-3 place-items-center lg:w-1/8">
  <div class="w-[250px] lg:w-[300px] p-6 bg-white border border-gray-200 rounded-lg shadow-lg mb-8 lg:mb-0">
    <img src="maps.svg" class="mx-auto mb-10" />
    <p class="font-normal text-gray-700 text-center">
        Jl. Godean no 304, Yogyakarta
    </p>
  </div>
  <div class="w-[250px] lg:w-[300px]  p-6 bg-white border border-gray-200 rounded-lg shadow-lg mb-8 lg:mb-0">
    <img src="wa.svg" class="mx-auto mb-10" />
    <p class="font-normal text-gray-700 text-center ">
        +628123456789
    </p>
  </div>
  <div class="w-[250px] lg:w-[300px]  p-6 bg-white border border-gray-200 rounded-lg shadow-lg mb-8 lg:mb-0">
    <img src="ig.svg" class="mx-auto mb-10" />
    <p class="font-normal text-gray-700 text-center">
        @kizunacatering.gg
    </p>
  </div>
</>
