<h4 class="m-5 lg:mx-[20vh] text-5xl text-[#FF9D02]">Contact Us</h4>
  <div class="m-5 flex  flex-col lg:flex-row justify-center gap-5"id="contact" >
    <div class=" overflow-hidden rounded-2xl  p-10 lg:w-[50vh] h-[25vh] lg:h-[20vh] lg:mb-12 lg:mt-12 shadow-2xl hover:bg-gradient-to-tr from-[#ff6700] via-[#ffa86e] to-[#fff4de] cursor-pointer">
      <img src="maps.svg" class="mx-auto mb-5" />
    <p class="font-normal text-gray-700 text-center">
      Jl. Godean No 304, Yogyakarta
    </p>
    </div>
    <div class="justify-end overflow-hidden rounded-2xl  p-10 lg:w-[50vh] h-[25vh] lg:h-[20vh] lg:mb-12 lg:mt-12 shadow-2xl hover:bg-gradient-to-tr from-[#ff6700] via-[#ffa86e] to-[#fff4de] cursor-pointer">
      <img src="wa.svg" class="mx-auto mb-5" />
    <p class="font-normal text-gray-700 text-center">
      +628123456789
    </p>
    </div>
    <a href="https://www.instagram.com/kizuna_catering/">
      <div class="justify-end overflow-hidden rounded-2xl p-10  lg:w-[50vh] h-[25vh] lg:h-[20vh] lg:mb-12 lg:mt-12 shadow-2xl hover:bg-gradient-to-tr from-[#ff6700] via-[#ffa86e] to-[#fff4de]">
        <img src="ig.svg" class="mx-auto mb-5" />
          <p class="font-normal text-gray-700 text-center">
            @kizuna_catering
        </p>
      </div>
    </a>
</div>
