<div class="p-5 ml-10">
    <footer class="text-white flex items-center ">
            <img src="copyright.svg" class="size-[10px] mr-2">
            <h4 class="text-black">2024 kizunacatering.my.id</h4>
    </footer>
</div>