<section class="py-5 min-h-screen bg-[url('hero-bg.svg')]">
  <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 lg:mt-20 xl:gap-0 lg:py-16 lg:grid-cols-12">
    <div class="mr-auto place-self-center lg:col-span-5">
      <h1 class="max-w-10xl mb-4 text-8xl font-extrabold tracking-tight ">The Perfect Choice for Your Events</h1>
      <p class="max-w-2xl text-xl ">We are commited to providing good service and ensuring your satisfication</>
    </div>
    <div class="hidden relative md:mt-0 md:col-span-5 md:flex">
      <img src="katering_1.png"  class="rounded-lg border-4 border-[#ffffff] absolute -right-20  w-[500px]" >
      <img src="katering_1.png"  class="rounded-lg border-4 border-[#ffffff] absolute top-10 -right-20  w-[500px]" >
    </div>
  </div>  
  </div>
</section>
