<section class="py-5 min-h-[70vh] bg-gradient-to-r from-[#ff6700] via-[#ffa86e] to-[#fff4de]">
  <div class="grid mt-10 max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 lg:mt-20 xl:gap-0 lg:py-16 lg:grid-cols-12">
    <div class="mr-auto place-self-center lg:col-span-5">
      <h1 class="max-w-10xl mb-4 text-5xl font-extrabold tracking-tight ">The Perfect Choice for Your Events</h1>
      <p class="max-w-2xl text-xl mb-5">We are commited to providing good service and ensuring your satisfication</p>
        <button type="button" class="outline-[#ffffff] text-[#FF6700] hover:text-[black] bg-white  font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2">Learn More</button>
    </div>
    <div class="hidden relative md:mt-0 md:col-span-5 xl:flex">
      <img src="katering_1.png"  class="rounded-lg border-4 border-[#ffffff] absolute left-[535px] -top-[100px] w-[500px] h-[500px]" >
      <img src="katering_1.png"  class="rounded-lg border-4 border-[#ffffff] absolute left-[300px] -bottom-[200px]  w-[300px] h-[250px]" >
      <img src="katering_1.png"  class="rounded-lg border-4 border-[#ffffff] absolute right-[20px]  -top-[70px] w-[300px]" >
    </div>
  </div>  
  </div>
</section>
