---

---

<nav class="flex items-center justify-between p-6 lg:px-8 bg-white ">
  <ul class="flex items-center">
    <li class="item-navbar">
      <a href="/" class=" hover:text-[#F08A5D] no-underline">Home</a>
      <a href="/services" class=" hover:text-[#F08A5D] no-underline">Services</a>
      <a href="/menu" class="hover:text-[#F08A5D] no-underline">Menu</a>
      <a href="/contact" class=" hover:text-[#F08A5D] no-underline">Contact</a>
    </li>
  </ul>
</nav>
<style>
  .item-navbar{
    color:black;
  }
</style>
