<nav>
  <ul class="list-none m-0 p-0 bg-transparent">
    <li class="float-left">
      <a href="/" class="block hover:text-[#FF5F15] text-white text-center pt-10 pl-10 pr-10 list-none">Kizuna Catering</a>
    </li>
    <li class="float-right">
      <a href="/"class="block hover:text-[#FF5F15] text-white text-center pt-10 pr-10 list-none">Sign In</a>
    </li>
    <li class="float-right">
      <a href="/" class="block hover:text-[#FF5F15] text-white text-center pt-10 pr-10 list-none">Sign Up</a>
    </li>
    <li class="float-right">
      <a href="/" class="block hover:text-[#FF5F15] text-white text-center pt-10 pr-10 list-none">About</a>
    </li>
  </ul>
</nav>


















<!-- <nav class="flex items-center justify-between p-6 lg:px-8 bg-white ">
  <ul class="flex items-center">
    <li class="item-navbar">
      <a href="/" class=" hover:text-[#F08A5D] no-underline">Home</a>
      <a href="/services" class=" hover:text-[#F08A5D] no-underline">Services</a>
      <a href="/menu" class="hover:text-[#F08A5D] no-underline">Menu</a>
      <a href="/contact" class=" hover:text-[#F08A5D] no-underline">Contact</a>
    </li>
  </ul>
</nav>
<style>
  .item-navbar{
    color:black;
  }
</style> -->
