<div class="p-12 ml-[]">
    <h4 class="text-5xl ">What our Services Are</h4>
    <h4 class="">
      We are ready to serve your needs with our motto “We shall never deny a
      customer even the most ridiculous request”.
    </h4>
</div>
<div class="grid lg:grid-cols-3 p-5 m-5  place-items-center">
    <div class="max-w-sm rounded-2xl  shadow-2xl hover:bg-[#FF9D02]">
        <div class="pt-10 flex justify-center items-center">
        <img src="wine.png" class="place-items-center" />
        </div>
        <div class="px-6 py-4">
        <div class="font-bold text-xl  text-center">Wedding Meals</div>
            <p class="p-10">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
                quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
                nihil.
            </p>
        </div>
    </div>
    <div class="max-w-sm rounded-2xl mt-8 lg:mt-2 shadow-2xl hover:bg-[#FF9D02]">
        <div class="pt-10 flex justify-center items-center">
        <img src="staff.png" class="place-items-center" />
        </div>
        <div class="px-6 py-4">
        <div class="font-bold text-xl  text-center">Staffing Events</div>
            <p class="p-10">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
                quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
                nihil.
            </p>
        </div>
    </div>
    <div class="max-w-sm rounded-2xl mt-8 shadow-2xl hover:bg-[#FF9D02]">
        <div class="pt-10 flex justify-center items-center">
        <img src="meeting.png" class="place-items-center" />
        </div>
        <div class="px-6 py-4">
        <div class="font-bold text-xl  text-center">Corporate Event</div>
            <p class="p-10">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
                quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
                nihil.
            </p>
        </div>
    </div>
</div>
<div class="grid lg:grid-cols-2 lg:auto-cols-max p-5 m-5 gap-5 -mt-8 lg:mt-0 lg:place-items-center">
    <div class="max-w-sm rounded-2xl shadow-2xl lg:place-self-end hover:bg-[#FF9D02]">
        <div class="pt-10 flex justify-center lg:items-center">
        <img src="party.png" class="place-items-center" />
        </div>
        <div class="px-6 py-4">
        <div class="font-bold text-xl  text-center">Birthday Events</div>
            <p class="p-10">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
                quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
                nihil.
            </p>
        </div>
    </div>
    <div class="max-w-sm rounded-2xl shadow-2xl lg:place-self-start  hover:bg-[#FF9D02]">
        <div class="pt-10 flex justify-center  lg:items-center">
        <img src="box.png" class="place-items-center" />
        </div>
        <div class="px-6 py-4">
        <div class="font-bold text-xl text-center">Others</div>
            <p class="p-10">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
                quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
                nihil.
            </p>
        </div>
    </div>
</div>

