<!-- <h4 class="text-5xl mx-20 my-10">What our Services Are</h4>
<h4 class="mx-20 my-10">
  We are ready to serve your needs with our motto “We shall never deny a
  customer even the most ridiculous request”.
</h4> -->
<div class="grid grid-cols-3 p-5 m-5 gap-y-2 place-items-center">
    <div class="max-w-sm rounded-2xl shadow-2xl hover:bg-[#FF9D02]">
        <div class="pt-10 flex justify-center items-center">
        <img src="wine.png" class="place-items-center" />
        </div>
        <div class="px-6 py-4">
        <div class="font-bold text-xl  text-center">Wedding Meals</div>
            <p class="p-10">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
                quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
                nihil.
            </p>
        </div>
    </div>
    <div class="max-w-sm rounded-2xl shadow-2xl hover:bg-[#FF9D02]">
        <div class="pt-10 flex justify-center items-center">
        <img src="staff.png" class="place-items-center" />
        </div>
        <div class="px-6 py-4">
        <div class="font-bold text-xl  text-center">Staffing Events</div>
            <p class="p-10">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
                quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
                nihil.
            </p>
        </div>
    </div>
    <div class="max-w-sm rounded-2xl shadow-2xl hover:bg-[#FF9D02]">
        <div class="pt-10 flex justify-center items-center">
        <img src="meeting.png" class="place-items-center" />
        </div>
        <div class="px-6 py-4">
        <div class="font-bold text-xl  text-center">Corporate Event</div>
            <p class="p-10">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
                quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
                nihil.
            </p>
        </div>
    </div>
</div>
<div class="grid grid-cols-2 auto-cols-max p-5 m-5 gap-0 place-items-center">
    <div class="max-w-sm rounded-2xl shadow-2xl hover:bg-[#FF9D02]">
        <div class="pt-10 lex justify-center items-center">
        <img src="party.png" class="place-items-center" />
        </div>
        <div class="px-6 py-4">
        <div class="font-bold text-xl  text-center">Birthday Events</div>
            <p class="p-10">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
                quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
                nihil.
            </p>
        </div>
    </div>
    <div class="max-w-sm rounded-2xl shadow-2xl hover:bg-[#FF9D02]">
        <div class="pt-10 flex justify-center items-center">
        <img src="box.png" class="place-items-center" />
        </div>
        <div class="px-6 py-4">
        <div class="font-bold text-xl text-center">Others</div>
            <p class="p-10">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
                quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
                nihil.
            </p>
        </div>
    </div>
</div>

