<!-- Pake nanya -->
<div class="grid lg:grid-cols-3 p-10 m-10 ">
  <div class="flex flex-col items-center md:flex-row md:max-w-xl mb-8">
    <img
      class="object-cover rounded-t-lg md:w-[10px] lg:w-[100px] md:rounded-none md:rounded-s-lg"
      src="menu_book.svg"
    />
    <div class="flex flex-col p-4 leading-normal self-start w-full">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-center lg:text-left">Menu Based</h5>
        <p class="mb-2 font-normal">use ask</p>
    </div>
  </div>
  <div class="flex flex-col items-center md:flex-row md:max-w-xl mb-8">
    <img
      class="object-cover rounded-t-lg md:w-[10px] lg:w-[100px] md:rounded-none md:rounded-s-lg"
      src="organic.svg"
    />
    <div class="flex flex-col p-4 leading-normal self-start w-full">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-center lg:text-left">Organic</h5>
        <p class="mb-2 font-normal">our ingredients are authentic</p>
    </div>
  </div>
  <div class="flex flex-col items-center md:flex-row md:max-w-xl mb-8">
    <img
      class="object-cover rounded-t-lg md:w-[10px] lg:w-[100px] md:rounded-none md:rounded-s-lg"
      src="on_time.svg"
    />
    <div class="flex flex-col p-4 leading-normal self-start w-full">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-center lg:text-left">On Time</h5>
        <p class="mb-2 font-normal">There’s no “late” in “catering”</p>
    </div>
  </div>
</div>
<!-- Services -->
  <div class="lg:pt-5 lg:pl-10 m-12 mt-0 lg:ml-[100px] ">
    <h4 class="text-5xl text-[#FF9D02]">What our Services Are</h4>
    <h4 class="mt-5">
      We are ready to serve your needs with our motto “We shall never deny a
      customer even the most ridiculous request”.
    </h4>
  </div>
  <div class="grid lg:grid-cols-3 p-5 m-5 place-items-center">
    <div class="max-w-sm rounded-2xl shadow-2xl hover:bg-gradient-to-tr from-[#ff6700] via-[#ffa86e] to-[#fff4de]">
      <div class="pt-10 flex justify-center items-center">
        <img src="wine.png" class="place-items-center" />
      </div>
      <div class="px-6 py-4">
        <div class="font-bold text-xl text-center">Wedding Meals</div>
        <p class="p-10">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.
        </p>
      </div>
    </div>
    <div class="max-w-sm rounded-2xl mt-8 lg:mt-2 shadow-2xl hover:bg-gradient-to-tr from-[#ff6700] via-[#ffa86e] to-[#fff4de]">
      <div class="pt-10 flex justify-center items-center">
        <img src="staff.png" class="place-items-center" />
      </div>
      <div class="px-6 py-4">
        <div class="font-bold text-xl text-center">Staffing Events</div>
        <p class="p-10">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.
        </p>
      </div>
    </div>
    <div class="max-w-sm rounded-2xl mt-8 shadow-2xl hover:bg-gradient-to-tr from-[#ff6700] via-[#ffa86e] to-[#fff4de]">
      <div class="pt-10 flex justify-center items-center">
        <img src="meeting.png" class="place-items-center" />
      </div>
      <div class="px-6 py-4">
        <div class="font-bold text-xl text-center">Corporate Event</div>
        <p class="p-10">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.
        </p>
      </div>
    </div>
  </div>
  <div
    class="grid lg:grid-cols-2 p-5 m-5 gap-5 -mt-8 lg:mt-0 lg:place-items-center"
  >
    <div
      class="max-w-sm rounded-2xl shadow-2xl lg:place-self-end hover:bg-gradient-to-tr from-[#ff6700] via-[#ffa86e] to-[#fff4de] lg:mr-24"
    >
      <div class="pt-10 flex justify-center lg:items-center">
        <img src="party.png" class="place-items-center" />
      </div>
      <div class="px-6 py-4">
        <div class="font-bold text-xl text-center">Birthday Events</div>
        <p class="p-10">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.
        </p>
      </div>
    </div>
    <div
      class="max-w-sm rounded-2xl shadow-2xl lg:place-self-start hover:bg-gradient-to-tr from-[#ff6700] via-[#ffa86e] to-[#fff4de] lg:ml-24"
    >
      <div class="pt-10 flex justify-center lg:items-center">
        <img src="box.png" class="place-items-center" />
      </div>
      <div class="px-6 py-4">
        <div class="font-bold text-xl text-center">Others</div>
        <p class="p-10">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
          quia, nulla! Maiores et perferendis eaque, exercitationem praesentium
          nihil.
        </p>
      </div>
    </div>
  </div>  
